.footer {
  background-color: var(--clr-very-dark-blue);
  height: 30vh;
  color: var(--clr-off-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer :first-child {
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
  color: var(--clr-off-white);
}

@media screen and (min-width: 800px) {
  .footer {
    height: fit-content;
    padding: 10px 0;
  }
}
